
h1{
    text-align: center;
    color: magenta;
    
}
#card1{
    padding-bottom: 60px;
}
#card2{
    padding-left: 60px;
}
#card3{
    padding-left: 60px;
}
*{
    padding:5px;
}
.card-footer{
    background-color:maroon;
    text-align: center;
}



